.compare-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.video-compare-container {
  width: 48%;
  position: relative;
  aspect-ratio: 1 / 1;
  border: 2px solid #666;   
  border-radius: 8px;          
  box-sizing: border-box;      
  overflow: hidden; 
}

.video-compare-container video,
.video-compare-container canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}